<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= (yield(:title) || "Portfolio") %></title>
	<%= stylesheet_link_tag :all %>
  <%= yield :head %>
</head>

<body>
  <div id="doc">
    <div id="hd" class="clearfix">
      <h1>Portfolio</h1>
      <p id="menu"><%= link_to 'Projects', projects_path %></p>
    </div>

    <div id="bd" class="clearfix">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <div id="content" class="clearfix">
        <%= yield %>
      </div>

    </div>
    
    <div id="ft">
    </div>
  </div>
</body>
</html>
