<div class="field_wrap clearfix">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="field_wrap clearfix">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="field_wrap clearfix">
  <%= f.label :url %>
  <%= f.text_field :url %>
  <small>http://www.google.com</small>
</div>
<div class="field_wrap clearfix">
  <%= f.label :label, "Image" %>
  <%= f.file_field :screenshot %>
  
</div>