<h2><%= "Edit project #{@project.title}" %></h2>


<% form_for @project, :url => project_path(@project), :html => {:method => :put} do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'fields', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Save changes' %> | <%= link_to "Cancel", projects_path %>
  </p>
<% end %>